<div class="container, mx-auto" style="width: 700px; margin-top: 5em;">
  <center>
    <h1 class="display-4">DairyDream</h1>
    <p class="lead">„Kiedyś powiedziała mi, że kluczem do szczęścia są marzenia, które można zrealizować...” – Nicholas Sparks</p>
    <p class="lead">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'Zaloguj się', root_path, class: 'btn btn-primary btn-lg'%>
    </div>
    </p>
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'Zarejestruj się', root_path, class: 'btn'%>
    </div>
  </center>
</div>
