@import "bootstrap";

.display-4, h1 {
  font-size: 8em;
  color: #F7F7F7;
}

.body{
  background-color: black;
  background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/170485.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  position: absolute;
  bottom:0;
  width: 100%;
}